* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial;
  background: linear-gradient(135deg, #1a1a1a, #333);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CARD */
.card {
  background: #fff;
  border-radius: 12px;
  padding: 25px;
  width: 350px;
  box-shadow: 0px 4px 20px rgba(0,0,0,0.3);
}

/* LOGO */
.logo {
  text-align: center;
  margin-bottom: 10px;
}

.logo img {
  width: 140px;
}

/* EMPRESA */
.empresa {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #a4161a;
}

/* SUBTITULO */
.subtitulo {
  text-align: center;
  font-size: 12px;
  margin-bottom: 10px;
  color: #555;
}

/* PRODUTO */
h1 {
  text-align: center;
  margin-bottom: 15px;
}

/* TEXTO */
p {
  margin: 6px 0;
  font-size: 14px;
}

b {
  color: #000;
}

/* STATUS */
#status {
  font-weight: bold;
  color: #0077b6;
}